# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* List popular languages for Data Science.
* List of the commonly used libraries for Data Science.
* List of used data science tools.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Matplotlib



| Data Science Tools      |
| ----------- |
| Jupiter Notebooks      |
| RStudio      |
| Apache Zeppelin      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
min=200
print("200 minutes => ",min/60, "hours")
print("200 minutes => ",min//60, "hours and ", min%60 , "minutes")

200 minutes =>  3.3333333333333335 hours
200 minutes =>  3 hours and  20 minutes

## Author
Juan Cabello